<div class="card">
  <div class="card-header">
    Jobs for you!
  </div>
  <div class="card-body">
    <h5 class="card-title">Here we show a List of Jobs from where to choose</h5>
    <p class="card-text">No worries you will be able to come back to this page and generate a CV for other jobs</p>
    <div class="list-group">
      <% @jobs.each do |job| %>
        <%= link_to("#{job.title}", '#', class: 'list-group-item list-group-item-action list-group-item-secondary') %>
      <% end %>
    </div>
  </div>
</div>
