<div class="card p-2">
  <div class="card-header">
    Jobs for you!
  </div>

  <div class="card-body">
    <h5 class="card-title">Here we show a List of Jobs from where to choose</h5>
    <p class="card-text">...</p>

    <%= render 'home/jobs', source_site: 'From our sources', jobs: @jobs%>

    </div>
  </div>

</div>
