<div class="card p-2">
  <div class="card-header">
    Jobs for you!
  </div>

  <!-- Latest job listings from jobs.ac.uk -->
  <script type="text/javascript" src="http://www.rdn.ac.uk/rss/viewer/?rss=https://www.jobs.ac.uk/jobs/agriculture-food-and-veterinary/?format=rss">
  </script>

  <div class="card-body">
    <h5 class="card-title">Here we show a List of Jobs from where to choose</h5>
    <p class="card-text">...</p>

    <%= render 'home/jobs', source_site: 'Github', jobs: @jobs%>

    </div>
  </div>

</div>
